# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup MATLAB
        # You may pin to the exact commit or the version.
        # uses: matlab-actions/setup-matlab@bfca1c30aa37e57792ad04e5c68bf4ff33218b6d
        uses: matlab-actions/setup-matlab@v1.0.1
        
      - name: Run MATLAB Command
        # You may pin to the exact commit or the version.
        # uses: matlab-actions/run-command@3a7e877e5c019883a1f5fe4635c84d74394bb70e
        uses: matlab-actions/run-command@v1.0.1
        with:
          # Script, function, or statement to execute
          command: openProject(pwd); runTestsuite;
          
      - name: Test Reporter
        uses: dorny/test-reporter@v1.5.0
        with:
          name: Check MATLAB test results from JUnit report
          path: results.xml
          reporter: java-junit
